* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 15%;
  background-color: #24252a;
  width: 100%;
}




 .nav__links a,


.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #BFB8BA;
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left:115%;

}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #f9ae54;
}

#comet{
  sizing:10px;
}
body{
  background-color: black;
}
